@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Star Wars';
  src: url('~assets/fonts/Starjedi.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Star Wars Secondary';
  src: url('~assets/fonts/Starjout.ttf');
  font-weight: normal;
  font-style: normal;
}
